@mixin vendor_prefix ($key, $value) {
    -moz-#{$key}: $value;
    -webkit-#{$key}: $value;
    #{$key}: $value;
}

$optionsWidth: 200px;

@mixin rounded_corners ($radius, $leftOrRight) {
    @include vendor_prefix(border-top-#{$leftOrRight}-radius, $radius);
    @include vendor_prefix(border-bottom-#{$leftOrRight}-radius, $radius);
} 

html, body, #dashboard {
    @include vendor_prefix (user-select, none);
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.collapse-toggler {
    .collapse-arrow {
        display: inline-block;
    }

    .expand-arrow {
        display: none;
    }

    &.collapsed {
        .collapse-arrow {
            display: none;
        }
    
        .expand-arrow {
            display: inline-block;
        }
    }
}

.panels {
    @include vendor_prefix(user-select, none);

    margin: 0px;
    padding: 0px;
    margin-right: $optionsWidth;
    
    .left {
        float: left;
    }
    
    .pane {
        display: inline-block;
        width: 50%;

        .view {
            
            .panel {
                height: 100%;
            }
            
            .buttons {
                position: absolute;
                top: 0px;
                right: 0px;   
            }
            
            .button {
                margin: 3px;
                cursor: pointer;
            }
        }
    }
}

#sidebar {
    float: right;
    width: $optionsWidth;
}

#wigglemap, #timeseries {
    height: 100%;
}

#map, #time {
    cursor: move;
    
    &.selection {
        cursor: crosshair;
    }
}

.icon {
    background-color: white;
    padding: 2px 13px;

    &:hover {
        background-color: #dddddd;
    }

    &.enabled, &:active {
        background-color: #aaaaaa;
    }

    &:first-of-type {
        border-right: 3px solid #eeeeee;
        @include rounded_corners(5px, left);
    }
    &:last-of-type {
        @include rounded_corners(5px, right);
    }

    &.move_arrow {
        background-image: url('../../images/move_arrow.png');
        background-repeat: no-repeat; 
        background-position: -2px -2px;
    }
    &.selection_box {
        padding: 2px 20px;
        background-image: url('../../images/selection_box.png');
        background-repeat: no-repeat;
        background-position: -2px -2px;
    }
}