@mixin vendor_prefix ($key, $value) {
    -moz-#{$key}: $value;
    -webkit-#{$key}: $value;
    #{$key}: $value;
}

@mixin flex_container ($direction) {
    display: -webkit-flex;
    display: flex;
    @include vendor_prefix(flex-flow, $direction nowrap);
    @include vendor_prefix(justify-content, space-between);
    @include vendor_prefix(align-items, stretch);
}

@mixin rounded_corners ($radius, $leftOrRight) {
    @include vendor_prefix(border-top-#{$leftOrRight}-radius, $radius);
    @include vendor_prefix(border-bottom-#{$leftOrRight}-radius, $radius);
} 

html, body, #dashboard {
    height: 100%;
    @include vendor_prefix (user-select, none);
}

#dashboard {
    @include flex_container(column);
}

#main {
    @include vendor_prefix(flex, 5 1 auto);
    @include vendor_prefix(order, 1);

    @include flex_container(row);
}

.collapse-toggler {
    .collapse-arrow {
        display: inline-block;
    }

    .expand-arrow {
        display: none;
    }

    &.collapsed {
        .collapse-arrow {
            display: none;
        }
    
        .expand-arrow {
            display: inline-block;
        }
    }
}

$dropdownHeight: 22px;
$panelWidth: 50%;

.panels {
    @include vendor_prefix(flex, 4 1 auto);

    @include vendor_prefix(user-select, none);
    position: relative;
    
    .view {
        position: absolute;
        top: $dropdownHeight;
        bottom: 0;
        width: $panelWidth;
        float: left;
        display: none;

        &.left-panel {
            left: 0;
        }

        &.right-panel {
            right: 0;
        }

        .buttons {
            position: absolute;
            top: 0px;
            right: 0px;   
        }

        .button {
            margin: 3px;
            cursor: pointer;
        }
    }
}

#left, #right {
    height: $dropdownHeight;
    width: $panelWidth;
    float: left;
}

#options {
    @include vendor_prefix(order, 3);
    width: 200px;
    padding-left: 10px;
}

#wigglemap, #timeseries {
    height: 100%;
}

#map, #time {
    cursor: move;
    
    &.selection {
        cursor: crosshair;
    }
}

.icon {
    background-color: white;
    padding: 2px 13px;

    &:hover {
        background-color: #dddddd;
    }

    &.enabled, &:active {
        background-color: #aaaaaa;
    }

    &:first-of-type {
        border-right: 3px solid #eeeeee;
        @include rounded_corners(5px, left);
    }
    &:last-of-type {
        @include rounded_corners(5px, right);
    }

    &.move_arrow {
        background-image: url('../../images/move_arrow.png');
        background-repeat: no-repeat; 
        background-position: -2px -2px;
    }
    &.selection_box {
        padding: 2px 20px;
        background-image: url('../../images/selection_box.png');
        background-repeat: no-repeat;
        background-position: -2px -2px;
    }
}