html, body, #dashboard {
    height: 100%;
}

.panels {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.view {
    position: absolute;
    top: 22px;
    bottom: 0;
    width: 50%;
    float: left;
    display: none;
}

.left-panel {
    left: 0;
}

.right-panel {
    right: 0;
}

#left, #right {
    width: 50%;
    float: left;
}

#options {
    float: right;
    width: 200px;
}

#wigglemap {
    height: 100%;
}