@mixin vendor_prefix ($key, $value) {
    -moz-#{$key}: $value;
    -webkit-#{$key}: $value;
    #{$key}: $value;
}

@mixin rounded_corners ($radius) {
    @include vendor_prefix(border-radius, $radius);
} 

html, body, #dashboard {
    height: 100%;
}

.collapse-toggler {
    .collapse-arrow {
        display: inline-block;
    }

    .expand-arrow {
        display: none;
    }

    &.collapsed {
        .collapse-arrow {
            display: none;
        }
    
        .expand-arrow {
            display: inline-block;
        }
    }
}

.collapsible {
    display: none;
}

$dropdownHeight: 22px;
$panelWidth: 50%;

.panels {
    @include vendor_prefix(user-select, none);
    height: 100%;
    overflow: hidden;
    position: relative;
    
    .view {
        position: absolute;
        top: $dropdownHeight;
        bottom: 0;
        width: $panelWidth;
        float: left;
        display: none;

        &.left-panel {
            left: 0;
        }

        &.right-panel {
            right: 0;
        }

        .buttons {
            position: absolute;
            top: 0px;
            right: 0px;   
        }

        .button {
            background-color: white;
            padding: 5px;
            margin: 3px;
            cursor: pointer;
            @include rounded_corners(5px);
            @include vendor_prefix(box-shadow, inset 0px 0px 1px 1px #aaaaaa);

            &:hover {
                background-color: #dddddd;
            }

            &.enabled, &:active {
                background-color: #aaaaaa;
            }
        }
    }
}

#left, #right {
    height: $dropdownHeight;
    width: $panelWidth;
    float: left;
}

#options {
    float: right;
    width: 200px;
}

#wigglemap, #timeseries {
    height: 100%;
}