.time {
    background-color: black;
}

.time .label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    color: white;
    font-size: 20px;
}

.time .xlabel {

}

.time .ylabel {

}