<div id="{{label}}" class="view">
    <div class="buttons">
        {{#each configOptions}}
            <div id="{{../label}}-{{type}}-button" class="button">
                {{renderButton type options}}
            </div>
        {{/each}}
    </div>
</div>