html, body, #dashboard {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.collapse-toggler .collapse-arrow {
  display: inline-block; }
.collapse-toggler .expand-arrow {
  display: none; }
.collapse-toggler.collapsed .collapse-arrow {
  display: none; }
.collapse-toggler.collapsed .expand-arrow {
  display: inline-block; }

.panels {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0px;
  padding: 0px;
  margin-right: 200px; }
  .panels .left {
    float: left; }
  .panels .pane {
    display: inline-block;
    width: 50%; }
    .panels .pane .view .panel {
      height: 100%; }
    .panels .pane .view .buttons {
      position: absolute;
      top: 0px;
      right: 0px; }
    .panels .pane .view .button {
      margin: 3px;
      cursor: pointer; }

#sidebar {
  float: right;
  width: 200px; }

#wigglemap, #timeseries {
  height: 100%; }

#map, #time {
  cursor: move; }
  #map.selection, #time.selection {
    cursor: crosshair; }

.icon {
  background-color: white;
  padding: 2px 13px; }
  .icon:hover {
    background-color: #dddddd; }
  .icon.enabled, .icon:active {
    background-color: #aaaaaa; }
  .icon:first-of-type {
    border-right: 3px solid #eeeeee;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .icon:last-of-type {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .icon.move_arrow {
    background-image: url("../../images/move_arrow.png");
    background-repeat: no-repeat;
    background-position: -2px -2px; }
  .icon.selection_box {
    padding: 2px 20px;
    background-image: url("../../images/selection_box.png");
    background-repeat: no-repeat;
    background-position: -2px -2px; }

.slider {
  font-size: 12px;
  font-family: Helvetica Neu, Helvetica, sans-serif;
  margin: 5px; }

.slider .exterior {
  background-color: #999;
  border: solid 1px black;
  width: 100%;
  height: 20px;
  display: table; }

.slider .slide {
  border-left: solid 1px black;
  border-right: solid 1px black; }

.slider .bar {
  position: relative; }

.slider .bar {
  width: 20px;
  height: 100%;
  background: #333; }

.slider .cell {
  vertical-align: middle;
  text-align: center;
  color: white;
  display: table-cell; }

.slider .play {
  width: 50px;
  padding: 2px;
  cursor: pointer; }

.slider .step {
  width: 75px;
  padding: 2px; }
