html, body, #dashboard {
  height: 100%; }

.collapse-toggler .collapse-arrow {
  display: inline-block; }
.collapse-toggler .expand-arrow {
  display: none; }
.collapse-toggler.collapsed .collapse-arrow {
  display: none; }
.collapse-toggler.collapsed .expand-arrow {
  display: inline-block; }

.collapsible {
  display: none; }

.panels {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .panels .view {
    position: absolute;
    top: 22px;
    bottom: 0;
    width: 50%;
    float: left;
    display: none; }
    .panels .view.left-panel {
      left: 0; }
    .panels .view.right-panel {
      right: 0; }

#left, #right {
  height: 22px;
  width: 50%;
  float: left; }

#options {
  float: right;
  width: 200px; }

#wigglemap, #timeseries {
  height: 100%; }
